:root {
    /* colours */
    --color-text: black;
    --color-primary:rgb(26, 26, 107);
    --color-secondary: rgb(27, 27, 231);
    --color-dark: rgb(50, 174, 231);
    --color-bg: rgb(78, 155, 15);


    /* fonts */
    

}